{include file="header.html"}

<form action="admin.php?act={$type}" method="post">
  <div class="p30">
    <div class="box">
      <div class="boxHead">
        <h2>添加友情链接</h2>
      </div>
      <div class="boxMain">
        <ul class="fromRow fromRowLine">
          <li class="left">友情链接名称</li>
          <li class="right">
    <input name="module_title" class="inputText inputBlock" type="text" id="module_title" value="{$module.title}" /></li>
        </ul>
        <ul class="fromRow fromRowLine">
          <li class="left">排序</li>
          <li class="right"><input name="sort" class="inputText inputBlock" type="text" id="sort" value="{$sort}" /></li>
        </ul>
        <ul class="fromRow fromRowLine">
          <li class="left">URL</li>
          <li class="right"><input name="module_content" class="inputText inputBlock" type="text" id="module_content" value="{$module.url}" size="50" /></li>
        </ul>
        <ul class="fromRow fromRowLine">
          <li class="left">描述</li>
          <li class="right"><textarea name="module_desc" class="inputText inputBlock" cols="50" rows="5" id="module_desc">{$module.desc}</textarea></li>
        </ul>
        <ul class="fromRow fromRowLine">
          <li class="left">&nbsp;</li>
          <li class="right">
    <input name="id" type="hidden" value="{$id}" />
    
    <!--{if $setup_type eq 1}-->
    <input  class="btn bC b1" type="submit" name="button" id="button" value="添加" />
    <!--{else}-->
    <input  class="btn bC b1" type="submit" name="button" id="button" value="编辑" />
          </li>
    <!--{/if}-->
        </ul>
</form>

</div>
</div>
</div>
</div>

{include file="footer.html"}