{include file="header.html"}
<div class="p30">
  <div class="box">
    <div class="boxHead">
      <h2>会员列表</h2>
    </div>
    <div class="boxMain">
      <div class="table">
        <table width="100%">
          <thead>

          <tr>
            <th>会员名</th>
            <th>所属分组</th>
            <th>注册时间</th>
            <th>最后登陆时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>

  {foreach from=$user_list item=member}
  <tr>
    <td><a title="{$blog.description}" href="admin.php?act=edit_member&id={$member.user_id}">{$member.user_name}</a></td>
    <td>{$member.group_name}</a></td>
    <td>{$member.reg_time}</td>
    <td>{$member.last_time}</td>
    <td><a href="admin.php?act=edit_member&id={$member.user_id}" >编辑</a> | <a href="admin.php?act=del_member&id={$member.user_id}" >删除</a> </td>
  </tr>
  {/foreach}
          </tbody>
        </table>

      </div>
    </div>

  </div>
  {include file="page.html"}
</div>
</div>
{include file="footer.html"}