{include file="header.html"}
<div class="p30">
  <div class="box">
    <div class="boxHead">
      <h2>可安装插件列表</h2>
    </div>
    <div class="boxMain">
      <div class="table">
        <table width="100%">
          <thead>

          <tr>
            <th>插件</th>
            <th>描述</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
  {foreach from=$modules item=plugin}
  <tr>
    <td>{$plugin.name}</td>
    <td>{$plugin.desc}</td>
    <td><a href="admin.php?act=setup_plugin&id={$plugin.id}" >安装</a> </td>
  </tr>
  {/foreach}
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
</div>
{include file="footer.html"}