{include file="header.html"}
<div class="p30">
  <div class="box">
    <div class="boxHead">
      <h2>插件列表</h2>
    </div>
    <div class="boxMain">
      <div class="table">
        <table width="100%">
          <thead>

          <tr>
            <th>插件</th>
            <th>描述</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
  {foreach from=$plugins_list item=plugin}
  <tr>
    <td>{$plugin.plugin_name}</td>
    <td>{$plugin.plugin_desc}</td>
    <td>{if $plugin.cp_type}<a href="admin.php?act=plugin_cp&id={$plugin.plugin_id}" >管理</a> |{/if} <a href="admin.php?act=del_plugin&id={$plugin.plugin_id}" >卸载</a> </td>
  </tr>
  {/foreach}
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>
</div>
{include file="footer.html"}