{include file="header.html"}

<form action="admin.php?act={$type}" method="post">

  <div class="p30">
    <div class="box">
      <div class="boxHead">
        <h2>添加边栏</h2>
      </div>
      <div class="boxMain">
        <ul class="fromRow fromRowLine">
          <li class="left">边栏标题</li>
          <li class="right"><input class="inputText inputBlock"  name="module_title" type="text" id="module_title" value="{$module.title}" /></li>
        </ul>
        <ul class="fromRow fromRowLine">
          <li class="left">排序</li>
          <li class="right"><input class="inputText inputBlock"  name="sort" type="text" id="sort" value="{$sort}" /></li>
        </ul>
        <ul class="fromRow fromRowLine">
          <li class="left">插件描述</li>
          <li class="right"><textarea class="inputBlock textarea"  name="module_desc" cols="50" rows="5" id="module_desc">{$module.desc}</textarea></li>
        </ul>
        <ul class="fromRow fromRowLine">
          <li class="left">边栏内容</li>
          <li class="right"><textarea class="inputBlock textarea"  name="module_content" cols="50" rows="10" id="module_content">{$module.content}</textarea></li>
        </ul>
        <ul class="fromRow fromRowLine">
          <li class="left"></li>
          <li class="right">
    <input name="id" type="hidden" value="{$id}" />

    <!--{if $setup_type eq 1}-->
    <input type="submit" name="button"  class="btn bC b1"  id="button" value="安装" />
    <!--{else}-->
    <input type="submit" name="button"  class="btn bC b1"  id="button" value="编辑" />
    <!--{/if}-->
          </li>
        </ul>
</form>

</div>
</div>
</div>
</div>

{include file="footer.html"}